apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: webapp
  labels:
    app.kubernetes.io/name: backend
    app.kubernetes.io/component: backend
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: backend
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http
