apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: webapp
  labels:
    app.kubernetes.io/name: frontend
    app.kubernetes.io/component: frontend
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: frontend
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
